{%extends 'layout.html'%}
<DOCTYPE html>
{% load static%}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css'%}">
        <script  script="{% static 'js\bootstrap.bundle.min.js'%}"></script>
    </head>
<body>  
{%block content%}  
<div class="container">
    <div class="row">
        <h1>Aboutus</h1>
        <div class="col-sm-6">
            <img src="{% static 'images1\logo1.jpeg'%}" class="img img-thumbnail w-100" alt="" >
        </div>
        <div class="col-sm-6">

            <h1>Who We are?</h1><i></i>
            <p>Launched in 2010, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.</p>
        </div>
        <div>
            <h1><b></b>
                Explore our Blog
            </h1>
            <p>Explore our blog for insightful articles, personal reflections, impactful resources, and ideas that inspire us at purplle</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images1\image5.jpeg'%}" class="img img-thumbnail w-100" alt="" >
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images1\image1.jpg'%}" class="img img-thumbnail w-100" alt="" >
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images1\image3.jpeg'%}" class="img img-thumbnail w-100" alt="" >
            </div>
        </div>

                

                
    

</div>  
{%endblock %}
</body>
</html>