{%extends 'layout.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css'%}">
    <script  script="{% static 'js\bootstrap.bundle.min.js'%}"></script>
</head>
<body>

{%block content%}
<div  class="bg bg-image={%static 'images1\bg image.jpeg'%}">
<div class="container">
<div class="row">
    <div class="col-sm-6 mt-4">
        <img src="{% static 'images1\image5.jpeg'%}" class="img img-thumbnail w-100" alt="" >
    </div>
    <div class="col-sm-6">
        <div>
            <h1 style="font-family:sans-serif;">Register</h1>
            {{msg}}
            <form action="/doregister" method="">
                <div class="mb-2">
                <input name="Fullname" id="Fullnameid" class="form-control border border-3 border-light"  type="text" placeholder="Fullname:" >
                </div>
                <div class="mb-2">
                    <input name="EMail" id="EmailID" class="form-control border border-3 border-light"  type="text" placeholder="Email:" >
                    </div>
                    <div class="mb-2">
                        <input name="Mobilenumber" id="mobilenumberid" class="form-control border border-3 border-light"  type="text" placeholder="MobileNumber:" >
                        </div>
                        <div class="mb-2">
                            <input name="Password" id="Passwordid" class="form-control border border-3 border-light"  type="text" placeholder="Password:" >
                        </div>
                <div class="mb=2">
                    <select class="form-select border-light border border-3" name="country" id="countryid" class="form-control border border-3 border-light" type="text" placeholder="country:">
                        <option value="-" >---country---</option>
                        <option value="India" >---INDIA---</option>
                        <option value="USA">---USA---</option>
                        <option value="Canada">---CANADA---</option>
                    </select>
                    <div class="mb-2 mt-2">
                        <textarea name="address" id="addressid" class="form-control border border-3 border-light"placeholder="address"></textarea>
                    </div>
                   <div>
                    <div class="mb-2">
                        <button class="btn"type="submit" style="background-color: purple;">Register</button>
                        <button class="btn"type="reset" style="background-color: rgb(247, 188, 247);">cancel</button>
                        

                    </div>
            </form>
        </div>
    
</div>
</div>
</div>
</div>

    {%endblock%}
</body>
</html>